@import "tailwindcss";

@keyframes fade-in {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Evita el scroll horizontal */
    background-color: #191a1a; /* Asegurar el fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  
  .container {
    width: 100vw;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
    overflow: hidden;
    --color: rgba(0, 115, 19, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(
        180deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        45deg,
        transparent 24%,
        var(--color) 35%,
        var(--color) 36%,
        transparent 37%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 150px 150px; /* Aumentar patrón */
    background-repeat: repeat; /* Asegurar que se repita */
    background-attachment: fixed;
  }
  


