---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		
		<BaseLayout>
			<main class="bg-[#202020] mt-16">
				<Hero />
				<About />
				<Skills />
				<Projects />
			</main>
			<hr class="border-t-2 border-green-400" />
		</BaseLayout>
	</body>
</html>
