---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/img/favicon.png?v=1" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body >
		<BaseLayout pageTitle={pageTitle}>
				<Hero />
				<About />
				<Skills />
				<Projects />
				<Form />
		</BaseLayout>
	</body>
</html>
