---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import Works from "../components/Works.astro";
const pageTitle = "Projects";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/img/favicon.png?v=1" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
				<Works />
		</BaseLayout>
	</body>
</html>
